@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --color-ink: #1A1A1A;
  --color-reverse: #F8F8DE;
  --color-dark: #393939;
  --color-subdued: #666666;
  --color-primary: #00B912;

  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --caption-font-size: 12px;
  --utility-font-size: 12px;
}

body {
  margin: 0;
  font-family: 'Space Mono', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-ink);
  color: var(--color-reverse);
  font-size: 18px;
}

code {
  font-family: 'Space Mono', 'Courier New', monospace;
}

h1, .u-h1 {
  font-size: var(--h1-font-size);
}

h2, .u-h2 {
  font-size: var(--h2-font-size);
}

.caption {
  font-size: var(--caption-font-size);
  font-weight: normal;
}

.utility {
  font-size: var(--utility-font-size);
  text-transform: uppercase;
}

.color-primary {
  color: var(--color-primary);
}

.color-subdued {
  color: var(--color-subdued);
}